# Core
python-dotenv
jupyter
ipykernel
nest-asyncio

# Microsoft Agent Framework
agent-framework-foundry
agent-framework-core
agent-framework-orchestrations
agent-framework-azure-cosmos

# Azure Authentication
azure-identity

# Storage
azure-cosmos
azure-search-documents
# redis

# Utilities
pydantic
openai
certifi
